<nav class="sidebar bg-dark d-flex flex-column" id="sidebar">
    <h1><a href="../overview"><span>RISE</span></a></h1>
    <ul>
        <li class="<%= activeLink === 'overview' ? 'active' : ''%>"><a href="../overview"><i class="fas fa-chart-line"></i><span>Overview</span></a></li>
        <li class="<%= activeLink === 'companies' ? 'active' : ''%>"><a href="../companies"><i class="fa-solid fa-building"></i><span>Companies</span></a></li>
    </ul>
    <!-- Service status -->
    <div class="service-status ms-4 mb-3">
        <p id="service-status-text" style="color: white">Is rise_scan.service up? Loading . . .</p>
        <div
                id="service-status-indicator" style="width: 10px; height: 10px; border-radius: 50%; background-color: white">
        </div>
    </div>
    <!-- Logout button in the bottom -->
    <form action="/logout" method="POST" class="mt-auto mb-3 ms-3">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/api/service-status')
            .then(response => response.json())
            .then(data => {
                const statusText = document.getElementById('service-status-text')
                const statusIndicator = document.getElementById('service-status-indicator');
                if (data.isActive) {
                    statusText.textContent = 'Is rise_scan.service up? Yes';
                    statusIndicator.style.backgroundColor = 'green';
                }
                else {
                    statusText.textContent = 'Is rise_scan.service up? No';
                    statusIndicator.style.backgroundColor = 'red';
                }
            })
            .catch(error => {
                console.error('Error fetching service status:', error);
                const statusText = document.getElementById('service-status-text')
                statusText.textContent = 'Is rise_scan.service up? Error';
            })
    })
</script>

