<div class="companies-table-wrapper shadow-2">
    <div class="more-actions-wrapper d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#importCompanyModal">
            <i class="fa-solid fa-file-import me-1"></i>
            Import
        </button>
        <div>
            <button type="button" class="btn btn-primary me-2" data-mdb-toggle="modal" data-mdb-target="#exportCompanyModal">
                <i class="fa-solid fa-file-import me-1"></i>
                Export
            </button>
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#companyModal" data-action="create">
                <i class="fa-solid fa-plus me-1"></i>
                Add company
            </button>
        </div>
    </div>
    <table id="companiesTable" class="table table-hover">
        <thead>
            <tr>
                <th>NIF</th>
                <th>Name</th>
                <th>Province</th>
                <th>Website</th>
                <th>Last scan date</th>
                <th>Vulnerabilities</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Import company modal -->
<div id="importCompanyModal" class="add-company-modal modal fade" tabindex="-1" aria-labelledby="importModal" aria-hidden="true" data-action="create">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="dropZone" class="d-flex drop-zone justify-content-between align-items-center">
                    <div>
                        <p>
                            <i class="fa-solid fa-upload me-2"></i>
                            <span>Drag and drop files here or select files</span>
                        </p>
                        <small class="allowed-extensions disabled">Accepted file types: JSON, CSV, TXT</small>
                    </div>

                    <div>
                        <input type="file" id="importFileInput" class="import-file-input" multiple>
                        <button type="button" id="importFileBtn" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Select files</button>
                        <button id="uploadImport" type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Upload</button>
                    </div>
                </div>

                <br>

                <div>
                    <p><span id="filesUploaded">0</span> of <span id="filesToUpload">0</span> files uploaded</p>
                    <ul id="fileList" class="file-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add company modal -->
<div id="companyModal" class="add-company-modal modal fade new-company-modal" tabindex="-1" aria-labelledby="companyModal" aria-hidden="true" data-action="create">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body d-flex">
                <div class="modal-side-img-wrapper">
                </div>
                <div class="add-company-form-wrapper">
                    <div class="company-modal-header bg-primary d-flex justify-content-between">
                        <h5 id="companyModalTitle" class="text-white">Add company</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="companyForm" class="add-company-form" novalidate>
                        <!-- NIF input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="NIF" class="form-control" name="NIF" required />
                            <label class="form-label" for="NIF">NIF</label>
                            <div id="NIFFeedback" class="invalid-feedback"></div>
                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="companyName" class="form-control" name="name" required />
                            <label class="form-label" for="name">Name</label>
                            <div class="invalid-feedback">Cannot be empty</div>
                        </div>

                        <!-- Province select -->
                        <select id="provinceSelect" name="province" class="mb-4">
                            <option value="" disabled selected>Select a province</option>
                        </select>
                        <div class="province-feedback-wrapper">
                            <div class="invalid-province-feedback">Select a province</div>
                        </div>

                        <!-- Website input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="website" class="form-control" name="website" required />
                            <label class="form-label" for="website">Website</label>
                            <div class="invalid-feedback">Please use correct format (e.g. example.com or
                                www.example.com).</div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                            <button id="saveCompanyBtn" type="submit" class="btn btn-primary ms-2">Add company</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Export company modal -->
<div class="modal top fade" id="exportCompanyModal" tabindex="-1" aria-labelledby="exportCompanyModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Export companies</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div id="exportFormat" class="btn-group mb-4">
                        <input type="radio" class="btn-check" name="exportFormat" value="csv" id="csv" autocomplete="off" />
                        <label class="btn btn-secondary" for="csv">csv</label>

                        <input type="radio" class="btn-check" name="exportFormat" value="json" id="json" autocomplete="off" checked />
                        <label class="btn btn-secondary" for="json">json</label>

                        <input type="radio" class="btn-check" name="exportFormat" value="txt" id="txt" autocomplete="off" />
                        <label class="btn btn-secondary" for="txt">txt (TAB)</label>
                    </div>

                    <div class="text-start px-4">
                        <div id="exportDataAmountRadio">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportDataAmount" value="page" id="exportCurrentPage" />
                                <label class="form-check-label" for="exportCurrentPage"> Export current page</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportDataAmount" value="all" id="exportAllFiltered" checked />
                                <label class="form-check-label" for="exportAllFiltered"> Exports all filtered
                                    results</label>
                            </div>
                        </div>

                        <div class="input-group mt-4">
                            <input id="filename" type="text" class="form-control" placeholder="Filename" value="companies" aria-label="Filename" aria-describedby="extension" />
                            <span class="input-group-text" id="extension">.json</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button id="confirmExportCompanies" type="button" class="btn btn-primary">Export</button>
            </div>
        </div>
    </div>
</div>

<script src='js/companies.js'></script>