<div class="companies-table-wrapper shadow-2">
    <div class="more-actions-wrapper d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#newCompanyModal">Add company</button>
    </div>
    <table id="companiesTable" class="table table-hover">
        <thead>
            <tr>
                <th>NIF</th>
                <th>Name</th>
                <th>Province</th>
                <th>Website</th>
                <th>Last scan date</th>
                <th>Vulnerabilities</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="newCompanyModal" class="add-company-modal modal fade new-company-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body d-flex">
                <div class="modal-side-img-wrapper">
                </div>
                <div class="add-company-form-wrapper">
                    <div class="company-modal-header bg-primary d-flex justify-content-between">
                        <h5 class="text-white">Add company</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="newCompanyForm" class="add-company-form" novalidate>
                        <!-- NIF input -->
                        <div class="form-outline mb-4">
                          <input type="text" id="NIF" class="form-control" name="NIF" required />
                          <label class="form-label" for="NIF">NIF</label>
                          <div id="NIFFeedback" class="invalid-feedback"></div>
                        </div>
                      
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                          <input type="text" id="newCompanyName" class="form-control" name="name" required />
                          <label class="form-label" for="name">Name</label>
                          <div class="invalid-feedback">Cannot be empty</div>
                        </div>
                         
                        <!-- Province select -->
                        <select id="provinceSelect" name="province" class="form-control mb-4">
                            <option value="">Select a province</option>
                        </select>

                        <!-- Website input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="website" class="form-control" name="website" required />
                            <label class="form-label" for="website">Website</label>
                            <div class="invalid-feedback">Please use correct format (e.g. example.com or www.example.com).</div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                            <button id="addCompanyBtn" type="submit" class="btn btn-primary ms-2">Add company</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='js/companies.js'></script>