<div class="companies-table-wrapper shadow-2">
    <div class="more-actions-wrapper d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#importCompanyModal">
            <i class="fa-solid fa-file-import me-1"></i>
            Import
        </button>
        <div>
            <button type="button" class="btn btn-primary me-2" data-mdb-toggle="modal" data-mdb-target="#exportCompanyModal">
                <i class="fa-solid fa-file-import me-1"></i>
                Export
            </button>
            <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#companyModal" data-action="create">
                <i class="fa-solid fa-plus me-1"></i>
                Add company
            </button>
        </div>
    </div>

    <table id="companiesTable" class="table table-hover w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Province</th>
                <th>Website</th>
                <th>Last scan date</th>
                <th>Vulnerabilities</th>
                <th>Detected Technology</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<!-- Import company modal -->
<div id="importCompanyModal" class="import-company-modal modal fade" tabindex="-1" aria-labelledby="importModal" aria-hidden="true" data-action="create">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import companies</h5>
                <button id="closeImportModalBtn" type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="dropZone" class="drop-zone">
                    <div id="innerDropZone" class="inner-drop-zone w-100 d-flex justify-content-between align-items-center">
                        <div>
                            <p>
                                <i class="fa-solid fa-upload me-2"></i>
                                <span>Drag and drop files here or select files</span>
                            </p>
                            <small class="allowed-extensions disabled">Accepted file types: JSON, CSV, TXT</small>
                        </div>

                        <div>
                            <input type="file" id="importFileInput" class="import-file-input" multiple>
                            <button type="button" id="importFileBtn" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Select files</button>
                            <button id="uploadImport" type="button" class="btn btn-primary" disabled data-mdb-ripple-init data-mdb-ripple-color="dark" disabled>Upload</button>
                        </div>
                    </div>
                </div>

                <br>

                <div>
                    <p class="upload-summary"><span id="filesUploaded">0</span> of <span id="filesToUpload">0</span> files uploaded</p>
                    <ul id="fileList" class="file-list">
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Add company modal -->
<div id="companyModal" class="add-company-modal modal fade new-company-modal" tabindex="-1" aria-labelledby="companyModal" aria-hidden="true" data-action="create">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body d-flex">
                <div class="modal-side-img-wrapper">
                </div>
                <div class="add-company-form-wrapper">
                    <div class="company-modal-header bg-primary d-flex justify-content-between">
                        <h5 id="companyModalTitle" class="text-white">Add company</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="companyForm" class="add-company-form" novalidate>
                        <!-- NIF input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="NIF" class="form-control" name="NIF" required />
                            <label class="form-label" for="NIF">NIF</label>
                            <div id="NIFFeedback" class="invalid-feedback"></div>
                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="companyName" class="form-control" name="name" required />
                            <label class="form-label" for="name">Name</label>
                            <div class="invalid-feedback">Cannot be empty</div>
                        </div>

                        <!-- Province select -->
                        <select id="provinceSelect" name="province" class="mb-4">
                            <option value="" disabled selected>Select a province</option>
                        </select>
                        <div class="province-feedback-wrapper">
                            <div class="invalid-province-feedback">Select a province</div>
                        </div>

                        <!-- Website input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="website" class="form-control" name="website" required />
                            <label class="form-label" for="website">Website</label>
                            <div class="invalid-feedback">Please use correct format (e.g. example.com or
                                www.example.com).</div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                            <button id="saveCompanyBtn" type="submit" class="btn btn-primary ms-2">Add company</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Export company modal -->
<div class="modal top fade" id="exportCompanyModal" tabindex="-1" aria-labelledby="exportCompanyModal" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Export companies</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div id="exportFormat" class="btn-group mb-4">
                        <input type="radio" class="btn-check" name="exportFormat" value="csv" id="csv" autocomplete="off" />
                        <label class="btn btn-secondary" for="csv">csv</label>

                        <input type="radio" class="btn-check" name="exportFormat" value="json" id="json" autocomplete="off" checked />
                        <label class="btn btn-secondary" for="json">json</label>

                        <input type="radio" class="btn-check" name="exportFormat" value="txt" id="txt" autocomplete="off" />
                        <label class="btn btn-secondary" for="txt">txt (TAB)</label>
                    </div>

                    <div class="text-start px-4">
                        <div id="exportDataAmountRadio">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportDataAmount" value="page" id="exportCurrentPage" />
                                <label class="form-check-label" for="exportCurrentPage"> Export current page</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exportDataAmount" value="all" id="exportAllFiltered" checked />
                                <label class="form-check-label" for="exportAllFiltered"> Exports all filtered
                                    results</label>
                            </div>
                        </div>

                        <div class="input-group mt-4">
                            <input id="filename" type="text" class="form-control" placeholder="Filename" value="companies" aria-label="Filename" aria-describedby="extension" />
                            <span class="input-group-text" id="extension">.json</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
                <button id="confirmExportCompanies" type="button" class="btn btn-primary">Export</button>
            </div>
        </div>
    </div>
</div>

<!-- Scan details modal -->
<div id="companyDetailsModal" class="modal fade" tabindex="-1" aria-labelledby="companyDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="companyDetailsModalLabel">Detection Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="severityTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="all-tab" data-bs-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="low-tab" data-bs-toggle="tab" href="#low" role="tab" aria-controls="low" aria-selected="false">Low</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="medium-tab" data-bs-toggle="tab" href="#medium" role="tab" aria-controls="medium" aria-selected="false">Medium</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="high-tab" data-bs-toggle="tab" href="#high" role="tab" aria-controls="high" aria-selected="false">High</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="critical-tab" data-bs-toggle="tab" href="#critical" role="tab" aria-controls="critical" aria-selected="false">Critical</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="unknown-tab" data-bs-toggle="tab" href="#unknown" role="tab" aria-controls="unknown" aria-selected="false">Unknown</a>
                    </li>
                </ul>
                <div class="tab-content" id="severityTabsContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <pre><code id="allVulnerabilities"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <pre><code id="infoVulnerabilities"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="low" role="tabpanel" aria-labelledby="low-tab">
                        <pre><code id="lowVulnerabilities"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="medium" role="tabpanel" aria-labelledby="medium-tab">
                        <pre><code id="mediumVulnerabilities"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="high" role="tabpanel" aria-labelledby="high-tab">
                        <pre><code id="highVulnerabilities"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="critical" role="tabpanel" aria-labelledby="critical-tab">
                        <pre><code id="criticalVulnerabilities"></code></pre>
                    </div>
                    <div class="tab-pane fade" id="unknown" role="tabpanel" aria-labelledby="unknown-tab">
                        <pre><code id="unknownVulnerabilities"></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='js/companies.js'></script>