<div class="companies-table-wrapper shadow-2">
        <table id="companiesTable" class="table table-hover">
            <thead>
                <tr>
                    <th>NIF</th>
                    <th>Name</th>
                    <th>Province</th>
                    <th>Website</th>
                    <th>Last scan date</th>
                    <th>Vulnerabilities</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src='js/companies.js'></script>