<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- MDB CSS -->
    <link rel="stylesheet" href="../css/mdb.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap DataTables -->
    <link rel="stylesheet" href="css/dataTables.bootstrap5.css">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <%- include('partials/sidebar.ejs')%>
    <div class="content">
        <div id="notification-container" class="position-fixed top-0 end-0 p-3" style="z-index: 5"></div>
        <%- body %>
    </div>
    <!-- Bootstrap Javascript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- MDB5 Javascript -->
    <script src="js/mdb.min.js"></script>
    <!-- Datatables -->
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap5.min.js"></script>
    <!-- Dashboard general scripts -->
    <script src="js/dashboard.js"></script>
</body>
</html>