body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.disabled {
    color: #99a3a4;
}

.progress {
    height: 20px;
    background-color: rgba(52, 152, 219, .3);
}

.login-form {
    position: absolute;
    width: 340px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Dashboard sidebar */

.sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.sidebar h1 a {
    display: block;
    padding: 10px 30px;
    background-color: #2f89fc;
    color: #fff;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    cursor: pointer;
    transition: .3s all;
}

.sidebar ul li:hover {
    background-color: #2f89fc;
    transition: .3s all;
}

.sidebar ul li:hover a {
    color: #fff;
}

.sidebar ul li a {
    display: block;
    padding: 15px 30px;
    color: rgba(255, 255, 255, .6);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.sidebar ul li.active>a {
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 1rem;
    width: 16px;
    text-align: center;
}


/* End of dashboard sidebar */

.content {
    margin-left: 300px;
    padding: 1.8rem;
    overflow: auto;
}

.table {
    overflow: auto;
}

.table th,
table td {
    vertical-align: middle;
}

.column-actions {
    white-space: nowrap;
}

.column-actions button {
    margin-right: .5rem;
}

.companies-table-wrapper {
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
}

/* Notifications */
.toast-body {
    display: flex;
    align-items: center;
}

.toast-body>i {
    font-size: 2em;
    margin-right: 1rem;
}

/* New company modal */
.new-company-modal .modal-body {
    padding: 0 !important;
}

.modal-side-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
}

.toast-body>i {
    font-size: 2em;
    margin-right: 1rem;
}

/* New company modal */
.new-company-modal .modal-body {
    padding: 0 !important;
}

.modal-side-img-wrapper {
    flex: 1;
    background-image: url("../img/company.jpg");
    background-size: cover;
    background-position: center 0;
}

.add-company-form-wrapper {
    flex: 2;
}

.company-modal-header,
.add-company-form {
    padding: 1rem 1rem .7rem 1rem;
}

select {
    width: 100%;
    padding: .5rem .75rem;
    background: transparent;
    border: 1px solid #bdbdbd;
    border-radius: .25rem;
    cursor: pointer;
}

.province-feedback-wrapper {
    position: relative;
}

.invalid-province-feedback {
    position: absolute;
    display: none;
    margin-top: -2.2rem;
    color: #dc4c64;
    font-size: .875rem;
    transition: all .3s;
}

.invalid-province-feedback-active {
    margin-top: -1.2rem;
}

.select-valid {
    border: 1px solid #14a44d;
}

.select-invalid {
    border: 1px solid #dc4c64;
}

/* Import company modal */

.import-company-modal .modal-body {
    padding: 60px;
}

.drop-zone {
    background-color: #CBDCE1;
    box-sizing: border-box;
    padding: 0.5rem;
    transition: all .3s;
}

.drop-zone-dragenter {
    background-color: transparent;
    padding: 1rem;
}

.inner-drop-zone {
    border: 2px dashed #9AAEB2;
    padding: 1.5rem;
    transition: padding .3s
}

.inner-drop-zone-dragenter {
    padding: 1rem;
}

.import-file-input {
    display: none;
}

.allowed-extensions {
    color: #99a3a4;
}

.file-list {
    list-style: none;
}

.file-wrapper {
    cursor: pointer;
}

.remove-file-btn {
    cursor: pointer;
}

.remove-file-btn {
    color: #fff !important;
}

/* Collapse icon animation */
.fa-chevron-down {
    transition: transform 0.3s ease;
}

.collapsed .fa-chevron-down {
    transform: rotate(-90deg);
}